{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


    <div class="container">

        <div class="row">
            <div class="well class-sm-6">
                <form id="frm_add" class="form-group" role="form" action="{% url 'new_mapreceive' %}" method="POST">
                    {% csrf_token %}
                        <table class="table table-borderless">
                            {{  form.as_table  }}
                        </table>

                    <button type="submit">Submit</button>
                    <!--<input type="submit" value="Submit">-->
                </form>
            </div>
        </div>

        <script>
        $(document).ready(function(){
            $("#frm_add").submit(function(){
                alert("Thank you for feedback !!!");

            });
        });
        </script>

     </div>


{% endblock content %}
