<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Field Activity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    body {
    padding-top: 0px;
    padding-bottom: 20px;
}

.row {
    margin-top: 1%;
    padding: 0px 0px;
}
		.clickable{
		    cursor: pointer;
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		.panel-heading div span{
			margin-left:5px;
		}
		.panel-body{
			display: none;
		}
		#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto;
  margin-right: auto;}

#header
{ background: transparent;
  height: 53px;}
 .header img {
  float: left;
  width: 100px;
  height: 100px;
}
h1, .h1 {
    font-size: 36px;
    color: #45a049;
    font-family: fantasy;
}

#logo {
  display: table-cell;
  line-height: 0;
  width: 20%;
}

#logo img {
  margin-top: 10px;
  width: auto;
  height: 50% ;
}

#restofheader {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 30px;
}
}

#logo #logo_text
{ position: absolute;
  top: 20px;
  left: 0;}
  #logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: -1px;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #FFF;}

#menubar
{ width: 100%;
  height: 52px;
  padding: 0;
  background: #45a049;}

ul#menu, ul#menu li
{
  margin: 0;
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block;
  height: 17px;
  margin: 10px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: transparent url(transparent_light.png) repeat;}


.container {
    width: 100%;
}
.form-group {
    margin-left: 6%;
    margin-bottom: 15px;
    margin-right: 30%;
}
.col-md-6 {
    width: 100%;
}
a.export,
a.export:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 8px;
}
a.chart,
a.chart:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 8px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #939698;
    border-color: #000000;
}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">


	<div class="header">
	   <div id="logo">
	   		<img src="/static/img/eoc-logo.png" alt="My image"/>
	   </div>
		<div id="restofheader">
	  		<h1><center>Microplan GIS Mapping Project</center></h1>
		</div>
	</div>

    <div id="header">
<div id="menubar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/feedback">Home</a></li>
      <li style="
        float: left;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Field Activity<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/feedback">Add Field Activity</a></li>
            <li><a href="/metafeedback">Add Field Activity Meta Data</a></li>
          <li><a href="/showFeedback">Show Field Activity</a></li>
          <li><a href="/firstreport">Report-1</a></li>
          <li><a href="/secondreport">Report-2</a></li>
        </ul>
      </li>
      <li style="
        float: left;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Field Feedback<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/register_user">Add Feedback</a></li>
          <li><a href="/showUsers">Show Feedback</a></li>
        </ul>
      </li>
        <li style="
        float: left;"  class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Map Receiving<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/mapreceive">Add Map Receiving</a></li>
          <li><a href="/showMapReceive">Show Map Receiving</a></li>
        </ul>
      </li>
            <li ><a style="
        float: left;" href="{% url 'feedback_logout' %}">Logout</a> </li>
    </ul>
  </div>
</div>
</div>
    </div>
    <!--<h1>Click the filter icon <small>(<i class="glyphicon glyphicon-filter"></i>)</small></h1>-->

    	<div class="row">
			<a href="#" class="export" style="float: right; width:  16%; margin-right: 1%;" >Export Table data into Excel</a>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Feedbacks</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Search for Text" />
					</div>

					<table class="table table-hover" id="dev-table">
						<thead>
							<tr>
								<th>SOP No.</th>
								<th>District</th>
								<th>Taluka</th>
								<th>Union Council</th>
								<th>From Office</th>
								<th>To Office</th>
							</tr>
						</thead>
						<tbody>
					{% for g in mapreceive %}
                    <tr>
						<td> {{g.sop_no}} </td>
                        <td> {{g.dist}} </td>
						<td> {{g.taluka}} </td>
						<td> {{g.uc}} </td>
						<td> {{g.from_office}} </td>
						<td> {{g.to_office}} </td>


                        </tr>
                	{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	(function(){
		'use strict';
		var $ = jQuery;
		$.fn.extend({
			filterTable: function(){
				return this.each(function(){
					$(this).on('keyup', function(e){
						$('.filterTable_no_results').remove();
						var $this = $(this),
							search = $this.val().toLowerCase(),
							target = $this.attr('data-filters'),
							$target = $(target),
							$rows = $target.find('tbody tr');

						if(search == '') {
							$rows.show();
						} else {
							$rows.each(function(){
								var $this = $(this);
								$this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
							})
							if($target.find('tbody tr:visible').size() === 0) {
								var col_count = $target.find('tr').first().find('td').size();
								var no_results = $('<tr class="filterTable_no_results"><td colspan="'+col_count+'">No results found</td></tr>')
								$target.find('tbody').append(no_results);
							}
						}
					});
				});
			}
		});
		$('[data-action="filter"]').filterTable();
	})(jQuery);

	$(function(){
		// attach table filter plugin to inputs
		$('[data-action="filter"]').filterTable();

		$('.container').on('click', '.panel-heading span.filter', function(e){
			var $this = $(this),
				$panel = $this.parents('.panel');

			$panel.find('.panel-body').slideToggle();
			if($this.css('display') != 'none') {
				$panel.find('.panel-body input').focus();
			}
		});
		$('[data-toggle="tooltip"]').tooltip();
	})


	</script>
	<script type="text/javascript">
		$(document).ready(function() {

	  function exportTableToCSV($table, filename) {

		var $rows = $table.find('tr:has(td)'),

		  // Temporary delimiter characters unlikely to be typed by keyboard
		  // This is to avoid accidentally splitting the actual contents
		  tmpColDelim = String.fromCharCode(11), // vertical tab character
		  tmpRowDelim = String.fromCharCode(0), // null character

		  // actual delimiter characters for CSV format
		  colDelim = '","',
		  rowDelim = '"\r\n"',

		  // Grab text from table into CSV formatted string
		  csv = '"' + $rows.map(function(i, row) {
			var $row = $(row),
			  $cols = $row.find('td');

			return $cols.map(function(j, col) {
			  var $col = $(col),
				text = $col.text();

			  return text.replace(/"/g, '""'); // escape double quotes

			}).get().join(tmpColDelim);

		  }).get().join(tmpRowDelim)
		  .split(tmpRowDelim).join(rowDelim)
		  .split(tmpColDelim).join(colDelim) + '"';

		// Deliberate 'false', see comment below
		if (false && window.navigator.msSaveBlob) {

		  var blob = new Blob([decodeURIComponent(csv)], {
			type: 'text/csv;charset=utf8'
		  });

		  // Crashes in IE 10, IE 11 and Microsoft Edge
		  // See MS Edge Issue #10396033
		  // Hence, the deliberate 'false'
		  // This is here just for completeness
		  // Remove the 'false' at your own risk
		  window.navigator.msSaveBlob(blob, filename);

		} else if (window.Blob && window.URL) {
		  // HTML5 Blob
		  var blob = new Blob([csv], {
			type: 'text/csv;charset=utf-8'
		  });
		  var csvUrl = URL.createObjectURL(blob);

		  $(this)
			.attr({
			  'download': filename,
			  'href': csvUrl
			});
		} else {
		  // Data URI
		  var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

		  $(this)
			.attr({
			  'download': filename,
			  'href': csvData,
			  'target': '_blank'
			});
		}
	  }

	  // This must be a hyperlink
	  $(".export").on('click', function(event) {
		// CSV
		var args = [$('#dev-table'), 'export.csv'];

		exportTableToCSV.apply(this, args);

		// If CSV, don't do event.preventDefault() or return false
		// We actually need this to be a typical hyperlink
	  });
	});
	</script>

</body>
</html>
