{% extends "base.html" %}
{% load staticfiles %}
{% block content %}



    <div class="container">

        <div class="row">
            <div class="well class-sm-6">
                <form id="frm_add" class="form-group" role="form" action="{% url 'register_user' %}" method="POST">
                    {% csrf_token %}
                        <table  class="table table-borderless">
                            {{  form.as_table  }}
                        </table>

                    <!--<ul class="list-group">-->
                         <!--{% for field in form  %}-->
                            <!--{{ field.errors }}-->
                            <!--<li  class="list-group-item"> {{ field.label_tag }} {{ field }} </li>-->
                         <!--{% endfor %}-->
                    <!--</ul>-->
                    <button type="submit">Submit</button>
                    <!--<input type="submit" value="Submit">-->
                </form>
            </div>
        </div>
        <script>
        $(document).ready(function(){
            $("#frm_add").submit(function(){
                alert("Thank you for feedback !!!");

            });
        });
        </script>




     </div>


{% endblock content %}
