{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!--{% block styling %}-->
            <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
        <!--{% endblock styling %}-->

    </head>
    <body>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
      <!--<div class="container">-->
        <!--<div class="navbar-header">-->
          <!--<a class="navbar-brand" href="">TPL Maps</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</nav>-->


        {% block content%}
        {% endblock %}


    </body>
</html>
