{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Field Activity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    body {
    padding-top: 0px;
    padding-bottom: 20px;
}

.row {
    margin-top: 1%;
    padding: 0px 0px;
}
		.clickable{
		    cursor: pointer;
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		.panel-heading div span{
			margin-left:5px;
		}
		.panel-body{
			display: none;
		}
		#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto;
  margin-right: auto;}

#header
{ background: transparent;
  height: 53px;}
 .header img {
  float: left;
  width: 100px;
  height: 100px;
}
h1, .h1 {
    font-size: 36px;
    color: #45a049;
    font-family: fantasy;
}

#logo {
  display: table-cell;
  line-height: 0;
  width: 20%;
}

#logo img {
  margin-top: 10px;
  width: auto;
  height: 50% ;
}

#restofheader {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 30px;
}
}

#logo #logo_text
{ position: absolute;
  top: 20px;
  left: 0;}
  #logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: -1px;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #FFF;}

#menubar
{ width: 100%;
  height: 52px;
  padding: 0;
  background: #45a049;}

ul#menu, ul#menu li
{
  margin: 0;
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block;
  height: 17px;
  margin: 10px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: transparent url(transparent_light.png) repeat;}


.container {
    width: 100%;
}
.form-group {
    margin-left: 6%;
    margin-bottom: 15px;
    margin-right: 30%;
}
.col-md-6 {
    width: 100%;
}
a.export,
a.export:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 8px;
}
a.chart,
a.chart:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 8px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #939698;
    border-color: #000000;
}
.filterable {
margin-top: 15px;
}
.filterable .panel-heading .pull-right {
margin-top: -20px;
}
.filterable .filters input[disabled] {
background-color: transparent;
border: none;
cursor: auto;
box-shadow: none;
padding: 0;
height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
color: #333;
}

    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-confirm-delete.js' %}"></script>
</head>

    <body>

    	<div class="header">
	   <div id="logo">
	   		<img src="/static/img/eoc-logo.png" alt="My image"/>
	   </div>
		<div id="restofheader">
	  		<h1><center>Microplan GIS Mapping Project</center></h1>
		</div>
	</div>

<div id="header">
 <div id="menubar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li style="
        float: left;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Field Activity<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/feedback">Add Field Activity</a></li>

          <li><a href="/showFeedback">View Field Activity</a></li>
          <li><a href="/firstreport">Report-1</a></li>
          <li><a href="/secondreport">Report-2</a></li>
        </ul>
      </li>
      <li style="
        float: left;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Field Feedback<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/register_user">Add Feedback</a></li>
          <li><a href="/showUsers">Show Feedback</a></li>
        </ul>
      </li>
        <li style="
        float: left;"  class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Map Receiving<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/mapreceive">Add Map Receiving</a></li>
          <li><a href="/showMapReceive">Show Map Receiving</a></li>
        </ul>
      </li>
        <li style="float: left;"  class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Meta Data<span class="caret">

            </span></a>
        <ul class="dropdown-menu">
            <li><a href="/metafeedback">Add Field Activity Meta Data</a></li>
          <li><a href="/addUCMeta">Add UCs</a></li>
               <li><a href="/showUC">Show UCs</a></li>
          <li><a href="/addSurveyorMeta">Add Surveyors</a></li>
            <li><a href="/showSurveyors">Show Surveyors</a></li>


            <li><a href="/addTeamleadsMeta">Add Team Leads</a></li>
            <li><a href="/showTeamLeads">Show Team Leads</a></li>
        </ul>
      </li>
            <li ><a style="
        float: left;" href="{% url 'feedback_logout' %}">Logout</a> </li>
    </ul>
  </div>
</div>
    </div>

        {% block content%}
        {% endblock %}
    </body>
</html>
