{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         {% block styling %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

            <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% endblock styling %}

        <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>

    <div class="header">
       <div id="logo">
       <img src="/static/img/eoc-logo.png" alt="My image"/>
      </div>
      <div id="restofheader">
      <h1><center>Microplan GIS Mapping Project</center></h1>
      </div>
    </div>

<div id="menubar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li style="
        float: left;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Field Activity<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/feedback">Add Field Activity</a></li>

          <li><a href="/showFeedback">View Field Activity</a></li>
          <li><a href="/firstreport">Report-1</a></li>
          <li><a href="/secondreport">Report-2</a></li>
        </ul>
      </li>
      <li style="
        float: left;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Field Feedback<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/register_user">Add Feedback</a></li>
          <li><a href="/showUsers">Show Feedback</a></li>
        </ul>
      </li>
        <li style="
        float: left;"  class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Map Receiving<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/mapreceive">Add Map Receiving</a></li>
          <li><a href="/showMapReceive">Show Map Receiving</a></li>
        </ul>
      </li>
        <li style="float: left;"  class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Meta Data<span class="caret">

            </span></a>
        <ul class="dropdown-menu">
            <li><a href="/metafeedback">Add Field Activity Meta Data</a></li>
          <li><a href="/addUCMeta">Add UCs</a></li>
               <li><a href="/showUC">Show UCs</a></li>
          <li><a href="/addSurveyorMeta">Add Surveyors</a></li>
            <li><a href="/showSurveyors">Show Surveyors</a></li>


            <li><a href="/addTeamleadsMeta">Add Team Leads</a></li>
            <li><a href="/showTeamLeads">Show Team Leads</a></li>
        </ul>
      </li>
            <li ><a style="
        float: left;" href="{% url 'feedback_logout' %}">Logout</a> </li>
    </ul>
  </div>
</div>

    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
      <!--<div class="container">-->
        <!--<div class="navbar-header">-->
          <!--<a class="navbar-brand" href="">TPL Maps</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</nav>-->
 <!--
 Header Settings
 -->
<!--
  <div class="btn-group">
    <button type="button" class=" btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
    Field Activity <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/feedback">Add Activity</a></li>
      <li><a href="/showFeedback">Show Activity</a></li>
    </ul>
  </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-lg  dropdown-toggle" data-toggle="dropdown">
    Field Feedback <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/register_user">Add Feedback</a></li>
      <li><a href="/showUsers">View Feedback</a></li>
    </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-lg  dropdown-toggle" data-toggle="dropdown">
    Map Receiving <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/mapreceive">Add Map Receiving</a></li>
      <li><a href="/showMapReceive">Show Map Receiving</a></li>
    </ul>
        <button type="button" class="btn btn-primary" style="float: right">LOGOUT<button/>
  </div>
-->
    <div class="container">
        {% block content%}
        {% endblock %}
    </div>

    <script src="{%static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

        <script src="{%static 'js/main.js' %}"></script>
        <script src="{% static 'js/bootstrap-confirm-delete.js' %}"></script>

    </body>
</html>
