{% extends "base.html" %}
{% load staticfiles %}
{% block content %}




    <div class="container">

        <div class="row">
            <div class="well class-sm-6">
                <form id="frm_add" class="form-group" role="form" action="{% url 'meta_feedback' %}" method="POST">
                <!--<form id="frm_add" class="form-group" role="form">-->
                    {% csrf_token %}
                        <table class="table table-borderless">
                            {{  form.as_table  }}
                        </table>
                    <button type="submit">Submit</button>
                    <!--<input type="submit" value="Submit">-->
                </form>
            </div>
        </div>

        <script>
        $(document).ready(function(){
        //submitting the form
          var frm = $('#frm_add');
            frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                alert("Thank you for your Feedback")
            },
            error: function(data) {
                alert("Something went wrong! ")
            }
        });
        return false;
    });



        // when page is loaded
        var category2 = $('#id_dist').val();

        $.ajax({
            url: '{% url "update_taluka" %}',
            data: {
                'district': category2,
            },
            success: function (response) {
                var  str_array = response;
                $('#id_taluka').empty();
                for(var i = 0; i < str_array.length; i++) {
                   //str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                   $('#id_taluka').append($('<option>', str_array[i]).text(str_array[i]))
                   //alert(str_array[i]);
                }

            }
    });

        var tehsil2 = $("#id_taluka").val();

        $.ajax({
            url: '{% url "update_uc" %}',
            data: {
                'tehsil': tehsil2,
            },
            success: function (response) {
                var  str_array = response;
                $('#id_uc').empty();
                for(var i = 0; i < str_array.length; i++) {
                   //str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                   $('#id_uc').append($('<option>', str_array[i]).text(str_array[i]))
                   //alert(str_array[i]);
                }

            }
    });

/*            $("#frm_add").submit(function(){
                 alert("Thank you for your feedback")
                //e.preventDefault();

            }); */
        });
        </script>
{% block javascript %}
<script>

function update_meta_feedback_district()
{
        var category = $('#id_dist').val();

        $.ajax({
            url: '{% url "update_taluka" %}',
            data: {
                'district': category,
            },
            success: function (response) {
                var  str_array = response;
                $('#id_taluka').empty();
                for(var i = 0; i < str_array.length; i++) {
                   $('#id_taluka').append($('<option>', str_array[i]).text(str_array[i]))

                }
                update_meta_feedback_taluka()

            }
    });


}
function update_meta_feedback_taluka()
{
       var tehsil = $('#id_taluka').val();

        $.ajax({
            url: '{% url "update_uc" %}',
            data: {
                'tehsil': tehsil,
            },
            success: function (response) {
                var  str_array = response;
                $('#id_uc').empty();
                for(var i = 0; i < str_array.length; i++) {
                   //str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                   $('#id_uc').append($('<option>', str_array[i]).text(str_array[i]))
                   //alert(str_array[i]);
                }

            }
    });
}



    $("#id_dist").change(function () {
        update_meta_feedback_district()

    });
     $("#id_taluka").change(function () {
            update_meta_feedback_taluka()
    });




</script>
{% endblock %}
     </div>


{% endblock content %}
