{% extends "base.html" %}
{% load staticfiles %}
{% block content %}




    <div class="container">

        <div class="row">
            <div class="well class-sm-6">
                <form id="frm_add" class="form-group" role="form" action="{% url 'new_feedback' %}" method="POST">
                    {% csrf_token %}
                        <table class="table table-borderless">
                            {{  form.as_table  }}
                        </table>

                    <button type="submit">Submit</button>
                    <!--<input type="submit" value="Submit">-->
                </form>
            </div>
        </div>

        <script>
        $(document).ready(function(){

        $.ajax({
            url: '{% url "update_activities" %}',
            data: {
            },
            success: function (response) {
                var  str_array = response;
                $('#id_activity').empty();
                for(var i = 0; i < str_array.length; i++) {
                   //str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                   $('#id_activity').append($('<option>', str_array[i]).text(str_array[i]))
                   //alert(str_array[i]);
                }

                  var act2 = $('#id_activity').val();

                    $.ajax({
                        url: '{% url "update_district" %}',
                        data: {
                            'activity': act2,
                        },
                        success: function (response) {
                            var  str_array = response;
                            $('#id_dist').empty();
            //                $('#id_taluka').empty();
             //               $('#id_uc').empty();
                            for(var i = 0; i < str_array.length; i++) {
                            $('#id_dist').append($('<option>', str_array[i]).text(str_array[i]))
                            }

                                        var act_feedback = $('#id_activity').val();
                                        var dist_feedback = $('#id_dist').val();

                                    $.ajax({
                                        url: '{% url "update_taluka_feedback" %}',
                                        data: {
                                            'activity': act_feedback,
                                            'district': dist_feedback,

                                        },
                                        success: function (response) {
                                            var  str_array = response;
                                            $('#id_taluka').empty();
                                            for(var i = 0; i < str_array.length; i++) {
                                            $('#id_taluka').append($('<option>', str_array[i]).text(str_array[i]))
                                            }


                                            //updating UCs
            var act_feedback = $('#id_activity').val();
            var dist_feedback = $('#id_dist').val();
            var taluk_feedback = $('#id_taluka').val();


        $.ajax({
            url: '{% url "update_uc_feedback" %}',
            data: {
                'activity': act_feedback,
                'district': dist_feedback,
                'taluka': dist_feedback,

            },
            success: function (response) {
                var  str_array = response;
                $('#id_uc').empty();
                for(var i = 0; i < str_array.length; i++) {
                $('#id_uc').append($('<option>', str_array[i]).text(str_array[i]))
                }

            }
    });
//get surveyor's names
        $.ajax({
            url: '{% url "update_surveyors_feedback" %}',
            data: {
                'activity': act_feedback,
                'district': dist_feedback,
                'taluka': dist_feedback,

            },
            success: function (response) {
                var  str_array = response;
                $('#id_Surveyor').empty();
                for(var i = 0; i < str_array.length; i++) {
                $('#id_Surveyor').append($('<option>', str_array[i]).text(str_array[i]))
                }

            }
    });

    // get team lead's names
        $.ajax({
            url: '{% url "update_teamleads_feedback" %}',
            data: {
                'activity': act_feedback,
                'district': dist_feedback,
                'taluka': dist_feedback,

            },
            success: function (response) {
                var  str_array = response;
                $('#id_TeamLeads').empty();
                for(var i = 0; i < str_array.length; i++) {
                $('#id_TeamLeads').append($('<option>', str_array[i]).text(str_array[i]))
                }

            }
    });

                                        }
                                });

                        }
                });


            }
    });

// getting taluks from activity and district






            $("#frm_add").submit(function(){
                alert("Thank you for feedback !!!");

            });
        });
        </script>
{% block javascript %}
<script>

function change_feedback_activity()
{
            var act2 = $('#id_activity').val();

        $.ajax({
            url: '{% url "update_district" %}',
            data: {
                'activity': act2,
            },
            success: function (response) {
                var  str_array = response;
                $('#id_dist').empty();
                for(var i = 0; i < str_array.length; i++) {
                $('#id_dist').append($('<option>', str_array[i]).text(str_array[i]))
                }
                change_feedback_district()
            }
    });


}

function change_feedback_district()
{
            var act_feedback = $('#id_activity').val();
            var dist_feedback = $('#id_dist').val();

        $.ajax({
            url: '{% url "update_taluka_feedback" %}',
            data: {
                'activity': act_feedback,
                'district': dist_feedback,

            },
            success: function (response) {
                var  str_array = response;
                $('#id_taluka').empty();
                for(var i = 0; i < str_array.length; i++) {
                $('#id_taluka').append($('<option>', str_array[i]).text(str_array[i]))
                }
                change_feedback_taluka();
                change_feedback_surveyors();
                change_feedback_teamleads();


            }
    });

}

function change_feedback_taluka()
{
            var act_feedback = $('#id_activity').val();
            var dist_feedback = $('#id_dist').val();
            var taluk_feedback = $('#id_taluka').val();

        $.ajax({
            url: '{% url "update_uc_feedback" %}',
            data: {
                'activity': act_feedback,
                'district': dist_feedback,
                'taluka': taluk_feedback,

            },
            success: function (response) {
                var  str_array = response;
                $('#id_uc').empty();
                for(var i = 0; i < str_array.length; i++) {
                $('#id_uc').append($('<option>', str_array[i]).text(str_array[i]))
                }


            }
    });
}

function change_feedback_surveyors()
{
            var act_feedback = $('#id_activity').val();
            var dist_feedback = $('#id_dist').val();
            var taluk_feedback = $('#id_taluka').val();

        $.ajax({
            url: '{% url "update_surveyors_feedback" %}',
            data: {
                'activity': act_feedback,
                'district': dist_feedback,
                'taluka': taluk_feedback,

            },
            success: function (response) {
                var  str_array = response;
                $('#id_Surveyor').empty();
                for(var i = 0; i < str_array.length; i++) {
                $('#id_Surveyor').append($('<option>', str_array[i]).text(str_array[i]))
                }

            }
    });

}

function change_feedback_teamleads()
{
            var act_feedback = $('#id_activity').val();
            var dist_feedback = $('#id_dist').val();
            var taluk_feedback = $('#id_taluka').val();

         $.ajax({
            url: '{% url "update_teamleads_feedback" %}',
            data: {
                'activity': act_feedback,
                'district': dist_feedback,
                'taluka': taluk_feedback,

            },
            success: function (response) {
                var  str_array = response;
                $('#id_TeamLeads').empty();
                for(var i = 0; i < str_array.length; i++) {
                $('#id_TeamLeads').append($('<option>', str_array[i]).text(str_array[i]))
                }

            }
    });
}





    $("#id_activity").change(function () {
    change_feedback_activity()
    });


    $("#id_dist").change(function () {
            change_feedback_district()


    });


     $("#id_taluka").change(function () {
        change_feedback_taluka()
    });




</script>
{% endblock %}
     </div>


{% endblock content %}
