{% extends "base_login.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <form role="form" action="{% url 'player_login' %}" method="POST">
          <header>Login</header>
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Sign in</button>
    </form>
{% endblock %}