{% extends "base_show.html" %}
{% load staticfiles %}
{% block content %}



    	<div class="row">
			<a href="#" class="export" style="float: right; width:  16%; margin-right: 1%;" >Export Table data into Excel</a>
			<div class="col-md-6">
				<div class="panel panel-primary">
          <div class="panel panel-primary filterable">
              <div class="panel-heading">
                  <h3 class="panel-title">Feedback</h3>
                  <div class="pull-right">
                      <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                  </div>
              </div>
          <table class="table" id="dev-table">
              <thead>
                  <tr class="filters">

                      <th><input type="text" class="form-control" placeholder="S.No" disabled></th>
                      <th><input type="text" class="form-control" placeholder="Union Council" disabled></th>
                      <th><input type="text" class="form-control" placeholder="Status" disabled></th>
                  </tr>
              </thead>
              <tbody>
                {% for g in feedback2 %}
                          <tr>
                  <td> {{g.0}} </td>
                  <td> {{g.1}} </td>
                  <td> {{g.2}} </td>
                              </tr>
                              {% endfor %}
              </tbody>
          </table>
        </div>
				</div>
			</div>
		</div>
	<script type="text/javascript">
  $(document).ready(function(){
      $('.filterable .btn-filter').click(function(){
          var $panel = $(this).parents('.filterable'),
          $filters = $panel.find('.filters input'),
          $tbody = $panel.find('.table tbody');
          if ($filters.prop('disabled') == true) {
              $filters.prop('disabled', false);
              $filters.first().focus();
          } else {
              $filters.val('').prop('disabled', true);
              $tbody.find('.no-result').remove();
              $tbody.find('tr').show();
          }
      });

      $('.filterable .filters input').keyup(function(e){
          /* Ignore tab key */
          var code = e.keyCode || e.which;
          if (code == '9') return;
          /* Useful DOM data and selectors */
          var $input = $(this),
          inputContent = $input.val().toLowerCase(),
          $panel = $input.parents('.filterable'),
          column = $panel.find('.filters th').index($input.parents('th')),
          $table = $panel.find('.table'),
          $rows = $table.find('tbody tr');
          /* Dirtiest filter function ever ;) */
          var $filteredRows = $rows.filter(function(){
              var value = $(this).find('td').eq(column).text().toLowerCase();
              return value.indexOf(inputContent) === -1;
          });
          /* Clean previous no-result if exist */
          $table.find('tbody .no-result').remove();
          /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
          $rows.show();
          $filteredRows.hide();
          /* Prepend no-result row if all rows are filtered */
          if ($filteredRows.length === $rows.length) {
              $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
          }
      });
  });
	</script>
	<script type="text/javascript">
		$(document).ready(function() {

		$(document).ready(function() {

	  function exportTableToCSV($table, filename) {

		var $rows = $table.find('tr:visible'),

		  // Temporary delimiter characters unlikely to be typed by keyboard
		  // This is to avoid accidentally splitting the actual contents
		  tmpColDelim = String.fromCharCode(11), // vertical tab character
		  tmpRowDelim = String.fromCharCode(0), // null character

		  // actual delimiter characters for CSV format
		  colDelim = '","',
		  rowDelim = '"\r\n"',

		  // Grab text from table into CSV formatted string
		  csv = '"' + $rows.map(function(i, row) {
			var $row = $(row),
			  $cols = $row.find('td');

			return $cols.map(function(j, col) {
			  var $col = $(col),
				text = $col.text();

			  return text.replace(/"/g, '""'); // escape double quotes

			}).get().join(tmpColDelim);

		  }).get().join(tmpRowDelim)
		  .split(tmpRowDelim).join(rowDelim)
		  .split(tmpColDelim).join(colDelim) + '"';

		// Deliberate 'false', see comment below
		if (false && window.navigator.msSaveBlob) {

		  var blob = new Blob([decodeURIComponent(csv)], {
			type: 'text/csv;charset=utf8'
		  });

		  window.navigator.msSaveBlob(blob, filename);

		} else if (window.Blob && window.URL) {
		  var blob = new Blob([csv], {
			type: 'text/csv;charset=utf-8'
		  });
		  var csvUrl = URL.createObjectURL(blob);

		  $(this)
			.attr({
			  'download': filename,
			  'href': csvUrl
			});
		} else {
		  // Data URI
		  var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

		  $(this)
			.attr({
			  'download': filename,
			  'href': csvData,
			  'target': '_blank'
			});
		}
	  }
	  // This must be a hyperlink
	  $(".export").on('click', function(event) {
		// CSV
		var args = [$('#dev-table'), 'export.csv'];

		exportTableToCSV.apply(this, args);

		// If CSV, don't do event.preventDefault() or return false
		// We actually need this to be a typical hyperlink
	  });
	});
		});
	</script>
{% endblock content %}