{% extends "base_show.html" %}
{% load staticfiles %}
{% block content %}


    	<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
          <div class="panel panel-primary filterable">
                <div class="panel-heading">
                  <h3 class="panel-title">Update Project</h3>
                </div>

              <form  action="{% url 'updateteamleads' %}" method="POST">
                    <div class="form-group">
                          <table class="table table-hover" id="surveyors-table">
                              <tbody>
                                    <tr>
                                    {{ form }}
                                    {% csrf_token  %}
                                    </tr>
                              </tbody>
                          </table>
                        <input type="hidden" name="val" value="{{pkval}}">
                    </div>
                  <button type="submit" class="btn btn-default">  Update</button>

                </form>
        </div>
				</div>
			</div>
		</div>
{% endblock content %}
